<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <h1>SUBMITTED INFO</h1>
    <h3>Name: {{session['name']}}</h3>
    <h3>Dojo Location: {{session['location']}}</h3>
    <h3>Favorite Language: {{session['language']}}</h3>
    <h3>Comments: {{session['comments']}}</h3>
</body>
</html>