<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome!</h1>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        {% for xi in range(0,times): %}
        <div style="background-color: {{ color }}; width: 100px; height: 100px; margin: 10px; border: 1px solid black; border-radius: 10px;"></div>
        {% endfor %}
    </div>
</body>
</html>