<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: PYTHON :: CHECKERBOARD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1 style="background-color: {{col_1}}; color: {{col_2}};">CHECKERBOARD</h1>
    <div>
        <table>
            <tbody>
                {% for i in range(0,row) %}
                    <tr>
                        {% for x in range(0,col) %}
                            {% if (x+i)%2 == 0 %}
                                <td style="background-color: {{col_1}};"></td>
                            {% else %}
                                <td style="background-color: {{col_2}};"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>